<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'carcare/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <header>
            {% include 'carcare/navbar.html' %}
        </header>
        <main>
            <h1>Wheels & Tires History</h1>
            <div class="history-box">
                <ul class="service-list">
                    {% for wheel_change in wheel_changes %}
                    <li>
                        <p><strong>Wheel Change Date:</strong> {{ wheel_change.tire_date }}</p>
                        <p><strong>Tire Size:</strong> {{ wheel_change.tire_size }}</p>
                        <p><strong>Wheel Change KM:</strong> {{ wheel_change.tire_km }}</p>
                        <p><strong>Price:</strong> {{ wheel_change.tire_price }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="center-button">
                <button><a href="{% url 'create_wheel_change' car.id %}" class="btn">Add New Wheel Change</a></button>
            </div>
            <hr>
            <div class="center-button">
                <button><a href="{% url 'car_details' car.id %}" class="btn">Back</a></button>
            </div>
        </main>
    </div>
</body>
</html>